@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


:root{
  --highlight-color-one: #1FC2DE;
  --highlight-color-two: green;
  --text-color: #303E48;
}

@page{
  size:A4;
  
  @top-left{
  	content:element(header);
  }
  
  @bottom-left{
  	content:element(footer);
  }
}

@page:first{
  margin:0;
  background-image:url("./images/cover.png");
  background-size:cover;
  
  @top-left{
    content:"";
  }
  
  @bottom-left{
    content:"";
  }
}

body{
  margin:0;
  padding:0;
  color:var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size:10pt;
}

a{
  color:inherit;
  text-decoration:none;
}


header{
  position:running(header);
  height:2cm;
  border-bottom:.5mm solid var(--text-color);
  opacity:.5;
}


footer{
  position:running(footer);
  font-size:8pt;
  text-transform:uppercase;
  color:var(--highlight-color-one);
  display:flex;
  justify-content:space-between;
  align-items:center;
}

footer hr{
  width:45%;
  height:0;
  border:0;
  border-top:.5mm solid var(--highlight-color-one);
}

footer a:last-of-type{
  font-weight:bold;
}

.chapter{
  page-break-before:always;
}

.chapter h1{
  margin-top:1cm;
  text-transform:uppercase;
}

.chapter .highlight{
  color:var(--highlight-color-one);
  font-weight:bold;
  line-height:2;
}